.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleprogress {
  display: flex;
  align-items: center;
  gap: 15.5rem;
  margin-left: 4rem;

  h1 {
    font-size: 45px;
    font-family: "Pixelify Sans", sans-serif;
    color: #40a2c0;
    padding: 1rem;
  }

  img {
    width: 22rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-right: 6rem;

  button {
    background: url("/button.png");
    background-size: 150px;
    background-repeat: no-repeat;
    width: 150px;
    height: 55px;
    border: none;
    font-size: 30px;
    font-family: "Pixelify Sans", sans-serif;
    color: #f3fafb;
  }

  button:hover {
    background: url("/button-hover.png");
    background-size: 150px;
    background-repeat: no-repeat;
    width: 150px;
    height: 55px;
    border: none;
  }
}

.calendarsettings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 3rem;
  gap: 2rem;
  align-items: flex-start;
}

.calendarwinner {
  display: flex;
  gap: 1rem;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f3fafb;
  border-style: solid;
  border-width: 2px;
  border-color: #40a2c0;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5rem;
  width: 20%;
}

.colorCode {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  label {
    font-size: 20px;
    font-family: "Pixelify Sans", sans-serif;
    color: #40a2c0;
    text-align: center;
  }
}

.dates {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  label {
    font-size: 20px;
    font-family: "Pixelify Sans", sans-serif;
    color: #40a2c0;
    text-align: center;
  }

  input {
    outline: 0;
    border-width: 0 0 2px;
    font-size: 20px;
    font-family: "Pixelify Sans", sans-serif;
    background-color: #f3fafb;
    color: #40a2c0;
  }
}

.colorwinner {
  display: flex;
  gap: 1rem;

  label {
    font-size: 20px;
    font-family: "Pixelify Sans", sans-serif;
    color: #40a2c0;
    text-align: center;
  }
}
