.color {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.color input {
  flex: 1;
  min-width: 0;

  height: 30px;

  border: none;
  border-bottom: 2px solid #40a2c0;

  background-color: transparent;

  font-family: "Pixelify Sans", sans-serif;
  font-size: 14px;
  color: #40a2c0;

  outline: none;
}

.color input::placeholder {
  color: #9bbbc3;
}

.color button {
  width: 90px;
  height: 30px;

  flex-shrink: 0;

  background-color: #40a2c0;
  color: #f3fafb;

  border: 1px solid #2c535f;

  font-family: "Pixelify Sans", sans-serif;
  font-size: 13px;

  cursor: pointer;
}